<%= simple_form_for(@box) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>

    <%= f.input :box_type, collection: ["Deckbox", "Storage Box", "Tradebinder"] %>
    <%= f.input :deckname %>

    <%= f.input :size %>
    <%= f.input :leave_box_in_tact %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
